@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
}
